TIDE_VERSION=latest
APP_URL=https://tide
SYNC_INTERVAL_MINUTES=60

AUTH_DISABLED=false
SSL_VERIFY=true

KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_REALM=tide
KEYCLOAK_CLIENT_ID=tide-app
KEYCLOAK_CLIENT_SECRET=

