name: tide
services:
  tide-app:
    image: 047741/tide-core:${TIDE_VERSION}
    build:
      context: .
      dockerfile: dockerfile
      target: production
    container_name: tide-app
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
      - DB_PATH=/app/data/tide.duckdb
      - TRIGGER_DIR=/app/data/triggers
      - VALIDATION_FILE=/app/data/checkedRule.json
    volumes:
      - ./data:/app/data
      - ${RULE_LOG_PATH:-./data/log/rules}:/app/data/log/rules
      # - ./certs/ca.crt:/usr/local/share/ca-certificates/tide-ca.crt:ro # Mount CA cert for internal API calls if needed
    expose:
      - "8000"
    networks:
      - tide-networ
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    restart: unless-stopped

  tide-nginx:
    image: nginx:alpine
    container_name: tide-nginx
    ports:
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./app/static:/app/static:ro
      - ./certs/server.crt:/etc/nginx/certs/server.crt:ro
      - ./certs/server.key:/etc/nginx/certs/server.key:ro
    networks:
      - tide-network
    depends_on:
      tide-app:
        condition: service_healthy
    restart: unless-stopped

networks:
  tide-network:
    driver: bridge
