# --- APPLICATION SETTINGS ---
TIDE_VERSION=1.0.0
APP_URL=localhost:8501
SYNC_INTERVAL_MINUTES=60
AUTH_DISABLED=false

# --- AUTHENTICATION (KEYCLOAK) ---
KEYCLOAK_URL=http://keycloak:8080 
KEYCLOAK_INTERNAL_URL=http://keycloak:8080 
KEYCLOAK_REALM=tide
KEYCLOAK_CLIENT_ID=tide-app
KEYCLOAK_CLIENT_SECRET=

# --- INFRASTRUCTURE CONNECTIONS ---

# Elasticsearch 
ELASTICSEARCH_URL=http://elasticsearch:9200
# Kibana 
ELASTIC_URL=http://kibana:5601
ELASTIC_API_KEY=

# OpenCTI
OPENCTI_URL=http://opencti:8080
OPENCTI_TOKEN=

# GitLab 
GITLAB_URL=http://gitlab:8929/
GITLAB_TOKEN=

# Splunk 
SPLUNK_URL=http://splunk:8089
SPLUNK_API_KEY=

# --- EXTERNAL DATA SOURCES ---
MITRE_SOURCE=https://raw.githubusercontent.com/mitre/cti/master/enterprise-attack/enterprise-attack.json
MITRE_MOBILE_SOURCE=https://raw.githubusercontent.com/mitre/cti/master/mobile-attack/mobile-attack.json
MITRE_ICS_SOURCE=https://raw.githubusercontent.com/mitre/cti/master/ics-attack/ics-attack.json
MITRE_PRE_SOURCE=https://raw.githubusercontent.com/mitre/cti/master/pre-attack/pre-attack.json
SIGMA_REPO_URL=https://github.com/SigmaHQ/sigma.git
ELASTIC_REPO_URL=https://github.com/elastic/detection-rules.git
KIBANA_SPACES=production, staging
